<h1>Editing publication</h1>

<%= render "form", publication: @publication %>

<br>

<div>
  <%= link_to "Back to article", new_article_path %>
</div>
<% if current_user.admin %>
<h4>Delete Publication</h4>
<a href="#" class="btn btn-danger d-bloc" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
</div>
<% end %>

<%= render 'layouts/delete_modal' %>
